commands:
  01_create_post_deploy_dir:
    command: "mkdir -p /opt/elasticbeanstalk/hooks/appdeploy/post"

container_commands:
  01_move_post_script:
    command: "mv -f .ebextensions/restart_delayed_job.sh /opt/elasticbeanstalk/hooks/appdeploy/post/"
  02_post_script_exec_perms:
    command: "chmod a+rx /opt/elasticbeanstalk/hooks/appdeploy/post/restart_delayed_job.sh"